<p>
  <mat-toolbar>

  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [routerLink]="['']" routerLinkActive="router-link-active"  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>Home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [routerLink]="['','image']" aria-label="Example icon-button with share icon">
   <mat-icon>Optimised Image</mat-icon>
 </button>
</mat-toolbar>
</p>

<main>
  <section [formGroup]="typedFormGroup">
    <mat-form-field>
     <input type="text" formControlName="firstName"  matInput>
    </mat-form-field>
    <mat-form-field>
     <input type="number" formControlName="age"  matInput>
    </mat-form-field>
     <ng-template *ngIf="typedFormGroup.get('age')?.invalid">
       invalid age must be number.
     </ng-template>
    <mat-form-field>
     <textarea formControlName="remarks" matInput ></textarea>
    </mat-form-field>
     <button (click)="submit()" type="submit">Submit</button>
   </section>
</main>

<router-outlet></router-outlet>
